.boardArea {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 80%;

  margin: 60px auto 0;

  &__boardTitle {
    display: flex;
    justify-content: space-between;

    padding: 10px 20px;

    border-bottom: 1px solid $color-gray-200;

    &__title {
      font-weight: 600;
      font-size: 18px;
    }

    &__counts {
      display: flex;
      font-size: 13px;

      & > div {
        margin-right: 10px;
      }
    }
  }
  &__boardContent {
    min-height: 600px;

    padding: 20px;

    font-size: 14px;

    border-bottom: 1px solid $color-gray-200;
  }
}
