.nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 16px;

  height: 60px;

  &__buttonArea {
    display: flex;
    align-items: center;
    justify-content: end;

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 33px;

      outline: none;
      cursor: pointer;

      padding: 6px 10px;

      border: 1px solid $color-white-000;
      border-radius: 4px;

      color: $color-white-000;
      background-color: $color-indigo-300;
    }
  }

  &__boardHead {
    &__number {
      width: 4%;
    }
    &__title {
      width: 84%;
    }
    &__date {
      width: 4%;
    }
    &__views {
      width: 4%;
    }
    &__likes {
      width: 4%;
    }
  }
}
