<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.album.react.board.model.mapper.BoardMapper">

	<!--  게시물 업로드 -->
	<insert id="uploadPost" parameterType="com.album.react.board.model.dto.Board">
		INSERT INTO BOARD VALUES (
			SEQ_BOARD.NEXTVAL, 
			#{boardTitle},
			#{boardContent}, 
			default,  
			#{likeCount}, 
			#{commentCount}, 
			#{viewCount}, 
			#{userNo}	
		)
	</insert>
	
	<!-- 게시판 리스트 불러오기 -->
	<select id="getBoardList">
	 	SELECT * FROM BOARD 
	</select>
	
	<!-- 게시물 상세 -->
	<select id="boardDetail">
		SELECT * FROM BOARD
	    WHERE BOARD_NO = #{boardNo}
	</select>
	
	<!-- 댓글 조회 -->
	<select id="getCommentsByBoardId">
    	SELECT * FROM "COMMENT" 
    	WHERE BOARD_NO = #{boardNo}
	</select>
	
	
	<!-- 댓글 등록 -->
	<insert id="saveComment" parameterType="com.album.react.comment.model.dto.Comment">
	  <selectKey keyProperty="commentNo" resultType="int" order="BEFORE">
	    SELECT SEQ_COMMENT.NEXTVAL FROM DUAL
	  </selectKey>
	  INSERT INTO "COMMENT" 
	  VALUES 
	  (
	    #{commentNo}, #{commentContent}, default, #{boardNo}, #{userNo}, 
	    <if test="parentCommentNo != null">
	      #{parentCommentNo}
	    </if>
	    <if test="parentCommentNo == null">
	      null
	    </if>, 
	    #{depth}
	  )
	</insert>
	
	<!-- 좋아요 여부 확인 -->
	<select id="checkIfLiked" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM LIKES
		WHERE BOARD_NO = #{boardNo} AND USER_EMAIL = #{userEmail}
	</select>
	
	<!-- 좋아요 추가 -->
	<insert id="insertLike">
		INSERT INTO LIKES VALUES(LIKE_NO_SEQ.NEXTVAL, #{boardNo}, #{userEmail})
	</insert>
	
	<!-- 좋아요 삭제 -->
	<delete id="deleteLike">
		DELETE FROM LIKES 
		WHERE BOARD_NO = #{boardNo}
		AND USER_EMAIL = #{userEmail}
	</delete>
	
	<!-- 좋아요 증가 -->
	<update id="incrementLikeCount">
		UPDATE BOARD
		SET LIKE_COUNT = LIKE_COUNT + 1
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 좋아요 감소 -->
	<update id="decrementLikeCount">
		UPDATE BOARD
		SET LIKE_COUNT = LIKE_COUNT - 1
		WHERE BOARD_NO = #{boardNo}
	</update>
	

</mapper>
