<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.album.react.board.model.mapper.BoardMapper">

	<insert id="uploadPost">
		INSERT INTO BOARD VALUES (
			SEQ_BOARD.NEXTVAL, 
			#{boardTitle},
			#{boardContent}, 
			default,  
			#{likeCount}, 
			#{commentCount}, 
			#{viewCount}, 
			#{userNo}	
		)
	</insert>
	

</mapper>
