<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.album.react.user.model.mapper.UserMapper">

	<!-- 구글 로그인한 유저 등록하기 -->
	<insert id="saveUser">
	INSERT INTO USERS VALUES (
		SEQ_USER.NEXTVAL,
		#{userName}, 
		#{userEmail}, 
		#{userProfile}, 
		#{registerDate},
		#{userDelFl}
	)
	</insert>
	
	<!-- 구글 로그인 시 등록된 회원인지 확인 -->
	<select id="userExists">
		SELECT COUNT(*)
		FROM USERS 
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<select id="getUserNo">
		SELECT USER_NO
		FROM USERS 
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<select id="getUserName">
		SELECT USER_NAME
		FROM USERS 
		WHERE USER_NO = #{userNo}
	</select>
	
	<select id="getUserProfileImg">
		SELECT USER_PROFILE
		FROM USERS 
		WHERE USER_NO = #{userNo}
	</select>
	
</mapper>
